@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*{
    padding: 0;
    margin: 0;
    overflow: hidden;
    /* background:#FFF89A */
}


#container{
    width: 100%;
    height: 100vh;    
    background:#FFF89A
}


/* face0 */

#face0{
    position: absolute;
    width: 15%;
    height: 33%;
    /* width: 200px;
    height: 200px; */
    left:20px;
    top: 160px;
    background:rgb(236, 222, 19);
    border:  2px solid black;
    border-radius: 50%;
    z-index: 1;
}


#face0_aen{
    position: absolute;
    width: 100%;
    height: 20px;
    top: 60px;
    background:black;
    border-radius: 20%;
    z-index: 180;
}

#face0_aen_part1{
    position: absolute;
    content: "";
    width: 70px;
    height: 50px;
    left:25px;
    top: 60px;
    background:black;
    border-radius: 40%;
    z-index: 180;
    box-shadow: 85px 0px black;
}

 
#face0_aen_part2{
    position: absolute;
    content: "";
    width: 20px;
    height: 35px;
    left:1px;
    top: 73px;
    background:rgb(236, 222, 19);
    /* border:  2px solid black; */
    border-radius: 30%;
    z-index: 200;
    box-shadow: 90px 0px rgb(236, 222, 19),
    180px 0px rgb(236, 222, 19);
} 


#face0_tem2{
    position: absolute;
    width: 120px;
    height: 120px;
    left:40px;
    top: 45px;
    border-bottom:  10px solid black;
    border-radius: 50%;
    z-index: 75;
}

#face0_kamaz1{
    position: absolute;
    width: 30px;
    height: 30px;
    left:20px;
    top: 100px;
    transform: rotate(-20deg);
    border-bottom:  1px solid black;
    border-radius: 40%;
    background:rgb(236, 222, 19);
    z-index: 100;
}

#face0_kamaz2{
    position: absolute;
    width: 30px;
    height: 30px;
    left:150px;
    top: 100px;
    transform: rotate(40deg);
    border-bottom:  1px solid black;
    border-radius: 40%;
    background:rgb(236, 222, 19);
    z-index: 100;
}


/* ----- face 1 -------- */
#face1{
    position: absolute;
    width: 15%;
    height: 33%;
    left:260px;
    top: 160px;
    background:rgb(236, 222, 19);
    border:  2px solid black;
    border-radius: 50%;
    z-index: 1;
}

#face1_hajeb1{
    position: absolute;
    width: 50px;
    height: 12px;
    left:30px;
    top: 50px;
    border-top:  2px solid black;
    border-radius: 50%;
    transform: rotate(-20deg);
}

#face1_hajeb2{
    position: absolute;
    width: 50px;
    height: 12px;
    left:115px;
    top: 50px;
    border-top:  2px solid black;
    border-radius: 50%;
    transform: rotate(20deg);
}

#face1_aen1{
    position: absolute;
    width: 50px;
    height: 10px;
    left:110px;
    top: 75px;
    background:black;
    border-radius: 50%;
}

#face1_aen2{
    position: absolute;
    width: 50px;
    height: 10px;
    left:30px;
    top: 75px;
    background:black;
    border-radius: 50%;
}


#face1_spit1{
    position: absolute;
    width: 50px;
    height: 50px;
    left:10px;
    top: 90px;
    background:rgb(21, 173, 179);
    border-radius: 50% 0 50% 50%;
    z-index: 200;
    transform: rotate(-10deg);
}


#face1_spit2{
    position: absolute;
    width: 50px;
    height: 50px;
    left:125px;
    top: 95px;
    background:rgb(21, 173, 179);
    border-radius: 50% 0 50% 50%;
    z-index: 200;
    transform: rotate(-60deg);
}
#face1_tem1{
    position: absolute;
    width: 120px;
    height: 120px;
    left:35px;
    top: 5px;
    border-bottom:  1px solid black;
    border-radius: 10%;
    z-index: 75;
    box-shadow: 0px 10px rgb(5, 5, 4),
                0px 23px rgb(248, 247, 247);
                /* 0px 35px rgb(226, 68, 6); */
                /* 0px 40px black; */
}

#face1_tem2{
    position: absolute;
    width: 120px;
    height: 120px;
    left:35px;
    top: 15px;
    border-bottom:  50px solid rgb(165, 5, 5);
    border-radius: 38%;
    z-index: 70;

}

#face1_kamaz1{
    position: absolute;
    width: 30px;
    height: 50px;
    left:20px;
    top: 90px;
    transform: rotate(-20deg);
    border-bottom:  1px solid black;
    border-radius: 40%;
    background:rgb(236, 222, 19);
    z-index: 100;
}

#face1_kamaz2{
    position: absolute;
    width: 30px;
    height: 30px;
    left:150px;
    top: 95px;
    transform: rotate(40deg);
    border-bottom:  1px solid black;
    border-radius: 40%;
    background:rgb(236, 222, 19);
    z-index: 100;
}

/* face2 */

#face2{
    position: absolute;
    width: 15%;
    height: 33%;
    left:500px;
    top: 160px;
    background:rgb(236, 222, 19);
    border:  2px solid black;
    border-radius: 50%;
    z-index: 1;
}


#face2_aen{
    position: absolute;
    width: 30px;
    height: 50px;
    left:50px;
    top: 60px;
    background:black;
    border-radius: 50%;
    box-shadow: 65px 0px black;
}

#face2_tem2{
    position: absolute;
    width: 120px;
    height: 120px;
    left:40px;
    top: 45px;
    border-bottom:  10px solid black;
    border-radius: 50%;
    z-index: 75;
}

#kamaz1{
    position: absolute;
    width: 30px;
    height: 30px;
    left:20px;
    top: 100px;
    transform: rotate(-20deg);
    border-bottom:  1px solid black;
    border-radius: 40%;
    background:rgb(236, 222, 19);
    z-index: 100;
}

#kamaz2{
    position: absolute;
    width: 30px;
    height: 30px;
    left:150px;
    top: 100px;
    transform: rotate(40deg);
    border-bottom:  1px solid black;
    border-radius: 40%;
    background:rgb(236, 222, 19);
    z-index: 100;
}

/* ----- face 3 -------- */
#face3{
    position: absolute;
    width: 15%;
    height: 33%;
    left:930px;
    top: 160px;
    background:rgb(236, 222, 19);
    border:  2px solid black;
    border-radius: 50%;
    z-index: 1;
}


#face3_aen{
    position: absolute;
    width: 30px;
    height: 50px;
    left:50px;
    top: 60px;
    background:black;
    border-radius: 50%;
    /* box-shadow: 65px 0px black; */
}

#face3_aen2{
    position: absolute;
    width: 50px;
    height: 12px;
    left:110px;
    top: 75px;
    background:black;
    border-radius: 50%;
}

#face3_tem2{
    position: absolute;
    width: 120px;
    height: 120px;
    left:40px;
    top: 45px;
    border-bottom:  10px solid black;
    border-radius: 50%;
    z-index: 75;
    transform: rotate(-20deg);
}

#face3_kamaz1{
    position: absolute;
    width: 30px;
    height: 30px;
    left:20px;
    top: 100px;
    transform: rotate(-20deg);
    border-bottom:  1px solid black;
    border-radius: 40%;
    background:rgb(236, 222, 19);
    z-index: 100;
}

#face3_kamaz2{
    position: absolute;
    width: 40px;
    height: 40px;
    left:145px;
    top: 90px;
    transform: rotate(30deg);
    border-bottom:  1px solid black;
    border-radius: 40%;
    background:rgb(236, 222, 19);
    z-index: 100;
}


/* ----- */

/* ----- face 4 -------- */
#face4{
    position: absolute;
    width: 15%;
    height: 33%;
    left:1150px;
    top: 160px;
    background:rgb(236, 222, 19);
    border:  2px solid black;
    border-radius: 50%;
    z-index: 1;
}


#face4_aen{
    position: absolute;
    width: 30px;
    height: 50px;
    left:50px;
    top: 60px;
    background:black;
    border-radius: 50%;
    box-shadow: 65px 0px black;
}
#face4_tem2{
    position: absolute;
    width: 120px;
    height: 120px;
    left:40px;
    top: 30px;
    border-bottom:  1px solid black;
    border-radius: 50%;
    z-index: 75;
    box-shadow: 0px 10px wheat,
                0px 25px rgb(116, 4, 4),
                0px 35px wheat,
                0px 36px black;
}

#face4_kamaz1{
    position: absolute;
    width: 30px;
    height: 50px;
    left:20px;
    top: 90px;
    transform: rotate(-20deg);
    border-bottom:  1px solid black;
    border-radius: 40%;
    background:rgb(236, 222, 19);
    z-index: 100;
}

#face4_kamaz2{
    position: absolute;
    width: 30px;
    height: 30px;
    left:150px;
    top: 95px;
    transform: rotate(40deg);
    border-bottom:  1px solid black;
    border-radius: 40%;
    background:rgb(236, 222, 19);
    z-index: 100;
}



#heart{
    position: absolute;
    width: 100%;
    height: 100vh;
    left:725px;
    top: 160px;
}

#heart_p1{
    position: absolute;
    width: 110px;
    height: 150px;
    left:0px;
    top: 0px;
    background:rgb(189, 15, 3);
    border:  2px solid black;
    border-radius: 50%  50%  0  50%;
    transform: rotate(-10deg);
    z-index: 1;
}


#heart_p2{
    position: absolute;
    width: 100px;
    height: 150px;
    left:76px;
    top: 0px;
    background:rgb(189, 15, 3);
    border:  2px solid black;
    border-radius: 50%  50% 50%  0;
    transform: rotate(10deg);
    z-index: 1;

} 

#heart_p3{
    position: absolute;
    width: 150px;
    height: 150px;
    left:17px;
    top: 23px;
    background:rgb(189, 15, 3);
    border-bottom:  1px solid rgb(230, 5, 5);
    border-left:  1px solid rgb(230, 3, 3);
    border-radius: 50%  50% 50%  0;
    transform: rotate(-45deg);
    z-index: 1;
    /* box-shadow: 50px -70px black; */
}


#title{
    position: absolute;
    width: 600px;
    height:70px;
    top:10px;
    left:10px;
    padding-top: 40px;
    padding-left: 40px;

    /* border:  2px solid black; */
    font-family: 'Architects Daughter', cursive;
    font-size: 1.8em;
}

#my_name{
    position: absolute;
    width: 300px;
    height:50px;
    top:400px;
    left:1000px;
    padding-top: 30px;
    padding-left: 30px;
    /* border:  2px solid black; */
    font-family: 'Architects Daughter', cursive;
    font-size: 1.2em;

}